* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



/* StartNavbar */
.navbar  { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 15px 30px;   
    width: 100%;
    box-shadow: 0 10px 15px rgb(223, 220, 220);
    font-family: 'Times New Roman', Times, serif;
}
.navbar-light .navbar-nav .nav-link {
    
    color: rgb(27, 27, 27);
    transition: all 0.6s ease;

}

.navbar-light .navbar-nav .nav-link:hover {
    background-color: rgb(230, 129, 129);
    font-size: 18px;
   
}
.dropdown-item{
    transition: all 0.6s ease;

}
.dropdown-item:hover {
    background-color: rgb(230, 129, 129);
    font-size: 18px;
}
/* endNavbar */

/* header */
header {
   
    background-color: rgb(243, 243, 243);
    margin-top: 50px;
}
header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .row h1 {
    font-size: 80px;
    font-weight: 700;
    color: rgb(5, 40, 65);
    padding-bottom: 20px;
    line-height: 1.2;
}
header .row p {
    font-size: 17px;
    line-height: 1.6;
    font-weight: 400;
    color: rgb(33, 32, 37);
    margin-bottom: 40px;
    
}
header .row a {
    text-decoration: none;
    padding: 15px 29px;
    color: white;
    font-size: 19px;
    font-weight: 600;
    border-radius: 5px;
    
}
header .row a {
    background: linear-gradient(to left , #4a4a4b , #4a4a4b) no-repeat;
    background-size: 0%;
    background-color: #ff2020;
    border: none;
    transition: all 0.5s ease;

}
header .row a:hover {
    background-size: 100%;
}
/* sec1 */
.sec1 {
    margin-top: 50px;
    
}
.sec1 .hh1 {
    color: #000;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 37px;
    font-weight: 700;

}
.sec1 .boxes .box .img-zone {
    overflow: hidden;
}
.sec1 .boxes .box .img-zone img {
    
    transition: transform 0.7s ease;
}
.sec1 .boxes .box .img-zone img:hover {
    transform: scale(1.1);
    transition: 0.7s;
}
.box .text a {
    text-decoration: none;
    text-align: center;
    color: #696969;
}
.box .text p {
    text-align: center;
    font-size: 15px;
    color: #ca1515;
    font-weight: 600;
}
/* end sec1 */

/* sec2 */
.sec2 {
    margin-top: 70px;
}
.sec2 .container-fluid {
    padding: 0;
    overflow: hidden;
}
.sec2 .single-gallery {
    overflow: hidden;
    margin-bottom: 30px;
}
.single-gallery .big-img {
    height: 690px;
    background-size: cover;
}
.single-gallery .small-img {
    height: 330px;
}
.row .gallery-img {
    transform: scale(1.06); 
     transition: all 0.5s ease;
}
.row .gallery-img:hover {
    filter: brightness(0.6);
    transform: scale(1);
    transition: all 0.5s ease;
}
/* end sec2 */
.sec3 {
    margin-top: 50px;
}
.sec3 .popular {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.sec3 .popular h2 {
    font-size: 40px;
    font-weight: 700;
    color: #000;
}
.sec3 .popular p {
    color: #696969;
    font-size: 20px;
    font-weight: 500;
}
.sec3 .box {
    margin-top: 20px;
    margin-bottom: 20px;
}
.sec3 .row .watch {
    position: relative;
    border-bottom: 3px solid rgb(231, 15, 15);
}
.sec3 .row .watch img {
    width: 100%;
}
.sec3 .row .watch i {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    opacity: 0;
    transition: all .5 ease;
}
.sec3 .row .watch a {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    background-color: #ca1515;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: all .5 ease;
}
.sec3 .row .watch:hover i {
    opacity: 1;
    transition: all .5 ease;
}

.sec3 .row .watch:hover a {
    opacity: 1;
    transition: all .5 ease;
}


.sec3 .box .text {
   text-align: center;
   margin-top: 15px;
}
/* end sec3 */
/* sec4 */
.sec4 {
    margin: 50px 0;
}
.sec4 .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.sec4 .row .choice h1 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family:  "Josefin Sans",sans-serif;
}
.sec4 .row .choice p {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}
.sec4 .row .choice a {
    text-decoration: none;
    padding: 15px 29px;
    color: white;
    font-size: 19px;
    font-weight: 600;
    border-radius: 5px; 
    background-color: #ca1515;
    margin-top: 20px;
}
.sec4 .row .choice img {
    width: 500px;
    height: 500px;
}
/* end sec4 */


/* sec5 */
.sec5 {
    margin: 50px 0;
}
.sec5 .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
.sec5 .row .choice h1 {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 30px;
    font-family:  "Josefin Sans",sans-serif;
}
.sec5 .row .choice p {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 300;
}
.sec5 .row .choice a {
    text-decoration: none;
    padding: 15px 29px;
    color: white;
    font-size: 19px;
    font-weight: 600;
    border-radius: 5px; 
    background-color: #ca1515;
    margin-top: 20px;
}
.sec5 .row .choice img {
    width: 500px;
    height: 500px;
}
/* end sec5 */
/* sec6 */
.sec6 .container {
    height: 250px;
    margin-top: 20px;
    background-color: #ff2020;
    padding: 30px 20px;
}
.sec3 .end {
    height: 100%;
}
.sec6 .end i {
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
}
.sec6 .end h6 {
    color: white;
    font-size: 22px;
    margin-bottom: 20px;
    font-weight: 500;
}
.sec6 .end p {
    color:  #d3d1d1;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 30px;
}
/* end sec6 */



/* footer */
footer {
    margin-top: 50px;
}
footer .top-footer .foot-logo img {
    margin-bottom: 30px;
}
footer .top-footer .foot-logo p {
    color:#757474 ;
}
footer .top-footer .foot-title h4 {
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
}
footer .top-footer .foot-title ul {
    list-style: none;
}
footer .top-footer .foot-title li {
    margin-bottom: 15px; 
    margin-left: -30px;

}
footer .top-footer .foot-title li a {
    text-decoration: none;
    color:  #757474;
    font-weight: 400;
}
footer .top-footer .foot-title li a:hover {
    color: #ff2020;
    padding-left: 5px;
    transition: 0.3s;
}
footer .boot-foot {
    margin-top: 50px;
    margin-bottom: 30px;
}
.boot-foot .row p {
    color:  #757474;
    font-weight: 400;
    font-size: 20px;
}
.boot-foot .row span {
    color: #ff2020;
    font-weight: bold;
}

.boot-foot .row i {
    padding: 0px 15px;
    transition: transform 0.7s ease-in-out;
}
.boot-foot .row i:hover {
    color: #ff2020;
    cursor: pointer;
    transform: rotateY(180deg);
}





